@charset "utf-8";
/* CSS Document */
#header .btn_note{position:absolute; top:7px; right:5px;; width:90px; height:31px; line-height:31px; border-radius:3px; background-color:#fff;}
#header .btn_note a{display:block; width:100%; height:100%; text-align:center;}
#header .btn_note a:active{background:rgba(0,0,0,0.05);}
